@tailwind base;
@tailwind components;
@tailwind utilities;


.main-header {
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 4px 4px 10px gray;
    max-height: 92px;
}

.logo {
    width: 114px;
}

.list-links {
    display: flex;
}

.list-links>li {
    margin: 0 8px;
    padding: 0 8px;
    list-style-type: none;
}

.list-links>button {
    padding: 4px;
}

.filter>input {
    min-height: 24px;
    min-width: 260px;
}

.filter>button {
    min-height: 30px;

}

.filter {
    margin: 12px;
    display: flex;
    justify-content: flex-end;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}

.res-card {
    width: 260px;
    height: 400px;
}

.res-card>img {
    width: 260px;
    height: 200px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shimmer-card {
    width: 260px;
    height: 400px;
    background-color: lightgrey;
}

.promoted-restro>label {
    position: absolute;
    background: black;
    color: white;
    padding: 4px;
    border-radius: 4px;
}